# Ignore all .log files
*.log

# Ignore the .terraform directories
Terraform/.terraform/*
Terraform/backend/.terraform/*
Terraform/backend/*.tfstate

# Ignore all .tfstate files
*.tfstate

#Ignore all .lock.hcl files
*.lock.hcl